body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#OptionButtons {
    margin-bottom: 5%;
}

.lineContainer {
    overflow: hidden;
    width: 99%;
    margin-bottom: 10px;
}

.wordClass {
    float: left;
    margin-left: 8px;
}

#langChooser {
    margin-bottom: 5%
}

.verticalChild {
    height: 20px;
}

.transltr {
    color: #ff3426;
    list-style-type: none;
}


.flashCard {
    text-align: center;
}


#pageSelection {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 1%;
    width: 100%;
    text-align: center;
}

.btnPage {
    margin-bottom: 5px;
}


.translationTxt {
    color:green;
}
